main.ng-enter {
  opacity: 0;
  transition: 0.8s ease-in all;
}
main.ng-enter.ng-enter-active {
  opacity: 1;
}
main.ng-leave {
  opacity: 1;
  background-color: white;
  transition: 0.8s ease-in all;
}
main.ng-leave.ng-leave-active {
  opacity: 0;
}