body {
    background-color: teal;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    margin: 0px;
    padding: 0px;
}
/* main body */
main {
    position: relative;
    top: 65px;
    height: 100%;
    padding: 10px;
    margin: 5px;
}
p {
    background-color: lightcyan;
    font-size: 16px;
    padding: 15px;
    margin: 15px;
    color: darkcyan;
    border-radius: 10px;
}
button {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
button:hover {
    cursor: pointer;
    background-color: rgb(212, 173, 106);
    color: white;
    transition: background-color .5s, color .3s;
}
a.button {
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
a.button:hover {
    background-color: #3e8e41;
}
.home h1 {
    text-align: center;
}
