<div >
    <h1>Animated Contact Form</h1>
    <p>Click the button to open the form.</p>
    <button ng-click="showForm()">Open Form</button>
    <div ng-show="show">
        <div class="content">
            <form name="contactForm" novalidate>
                <input type="text" placeholder="name" name="name" ng-model="contact.name" ng-required="true"/>
                <div class="invalid_form" ng-show="contactForm.name.$touched && contactForm.name.$invalid">
                    <small>Enter a valid name</small>
                </div>

                <input type="email" placeholder="email" name="email" ng-model="contact.email" ng-required="true"/>
                <div class="invalid_form" ng-show="contactForm.email.$touched && contactForm.email.$invalid">
                    <small>Enter a valid email</small>
                </div>

                <textarea placeholder="message" name="message" ng-model="contact.message" ng-required="true"></textarea>
                <div class="invalid_form" ng-show="contactForm.message.$touched && contactForm.message.$invalid">
                    <small>Enter a valid message</small>
                </div>

                <input type="submit" value="Send" ng-disabled="contactForm.$invalid"/>
            </form>
        </div>
    </div>
</div>