<div class="home">
    <h1>{{title}}</h1>
    <p>
        blockchained supply chain management for residential microbusinesses and small farms. <br>
        Smarthome Oracle will make favorable reminders and suggestions based on the data for betterment of personal, social, environmental health, etc. <br>
        Goal would be a low balanced bank account with a slight annual increase <br>
        All profits correctly distributed where most needed to help stabilize local populations <br>
        All data is public and transparent <br>
        Smarthome Oracle adds value in Smarthome participants lives by using the efficientcy of modern technology to help them make better decisions. <br>
        Smarthome Oracle is a tool for the people to use to help themselves. <br>
        Smarthome Oracle will from time to time  suggest meaningful relations and contractual agreements to help Smarthome participants achieve their goals. <br>

    </p>
</div>