<div >
    <h1>Personal Health Stats</h1>
    <p>sends health status to database. <br>
        First Use Case Scenario is a manual water intake monitor & automatic heart rate monitor and sleep monitor collected by Apple Watch series 4. <br>
        Water is manual input, Watch Data is scrubbed, and all data sent to chain.<br>
        Treated as an n*f*t to be used in conjuction with smarthome contact list, inventory data, and residence data.
    </p>
    <button ng-click="toggleInventoryForm()">Add Personal Health Snapshot</button>
    <jolly-inventory-form ng-show="showInventoryForm" > </jolly-inventory-form>
</div>